/* Padding - just for asthetics on Bootsnipp.com */
body { margin-top:20px; }

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 75%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}
        html{
            position:relative;
            min-height:100%;
        }
        nav{
            width: 5%;
            display: inline;
            height: 100%;
            float: left;
            
        }
        nav ul{
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            }

        nav li{
            display: ;
            margin-left: 50px;
            padding-top: 25px;
            font-weight:bold;
            position: relative;
            }
        nav a{
            color: #444;
            text-decoration: none;
            text-transform: Uppercase;
            font-size: 14px;
            }
        nav a:hover{
            color: #000;
            }
        nav a:before{
            content: '';
            display: block;
            height: 4px;
            
            background-color: #444;
            position: absolute;
            top: 50px;
            width: 0%;
            transition: all ease-in-out 250ms;
            }
        nav a:hover::before{
            width: 25%;
            
        }
        .content {
            width: 95%;
            display: inline;
            float: left;
            
            
        }
        body{
            width: 100%;
            margin: 0 auto;
        }
        
        .headerContainer{
            display: ;
            margin-left: 50px;
            padding-top: 40px;
            font-weight:bold;
           
        }
        #headstruct{
            background-color: #55d6aa;
            margin: 0px;
            }
        #headstruct::after{
            content:'';
            display: table;
            clear:
            }
        .footer {
          position: absolute;
          height: 40px;
          right: 0;
          bottom: 0;
          left: 0;
          padding: 1rem;
          background-color: #efefef;
          text-align: center;
        }